@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;         
    background-color: #1a1a1a;
    color: #e5e5e5;
    font-family: "Creepster", serif;
   
}


.container {
    gap: 0.5rem;
    display: flex;
    justify-content: center;
}

