body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;         
    background-color: #1a1a1a;
    color: #e5e5e5;
    font-family: 'UnifrakturMaguntia', serif;
}


.container {
    text-align: center;   
}

