
.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid  #e5e5e5;
  
    height: 64px;
    width: 80%;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 30px #8b0000;
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: "Creepster", serif;
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }
